/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    font-size: 12px;
    color: white;
}

/* ---------------------------------------------------------------------------------------------------- */

/* PRESET CONTENITORI */

header, main {
    background: black;
}

/* footer {
    background: #222222;
} */

/* ---------------------------------------------------------------------------------------------------- */

header {
    padding: 10px 0;
}

.header-row-flex {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.button {
    padding: 4px;
    border-radius: 5px;
    transition: 300ms linear;
    background: #4A4A4A;
}

.button:hover{
    background: #5b5b5b;
}

.second {
    margin-right: 10px;
}
